body{
    font-family: "Rubik", sans-serif;
    color: #fefefe;
}

.background{
    background-image: url('../images/bgc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;

}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

a{
    text-decoration: none;
}

input {outline:none;}


button{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
